.chatContainer {
    display: flex;
    background-color: #000000;
    flex-direction: column-reverse;
    height: 100%; /* Set a fixed height */
    width: 100%;
    max-height: 100vh; /* Ensure it doesn't exceed the viewport height */
    overflow-y: scroll; /* Ensure overflow is set to auto */
  }
  
  .messages {
    flex-grow: 1;
    overflow-y: scroll; /* Ensure overflow is set to auto */
    padding: 1px;
    display: flex;
    flex-direction: column;
    order: 2;
    white-space: pre-wrap;
    max-height: 95%; /* Ensure it doesn't exceed the container's height */
  }
  
  .inputForm {
    display: flex;
    background-color: #000000;
    width: 100%;
    padding: 10px;
    padding-bottom: 1px;
    order: 1;
  }
  
  .input {
    flex-grow: 1;
    padding: 16px 24px;
    margin-right: 5px;
    border-radius: 10px;
    border: 2px solid transparent;
    font-size: 1em;
    background-color: #000000;
    border-color: #217CAF;
  }
  
  .input:focus {
    outline: none !important;
    border-color: #217CAF;
    border-width: 2px;
    background-color: black;
  }
  
  .button {
    padding: 8px 24px;
    background-color: #000;
    color: white;
    border: none;
    font-size: 1em;
    border-radius: 60px; /* Removed duplicate border-radius property */
  }
  
  .button:disabled {
    background-color: lightgrey;
  }
  
  
  
  .userMessage,
  .assistantMessage,
  .codeMessage {
    margin: 8px 0;
    padding: 8px 16px;
    align-self: flex-start;
    border-radius: 10px;
    max-width: 80%;
    overflow-wrap: break-word;
    font-size: 0.875em; /* Adjust the font size as needed */
  }
  
  .assistantMessage img {
    max-width: 100%;
    margin: 8px 0px 8px 0px;
    border-radius: 8px;
  }
  
  .userMessage {
    align-self: flex-end;
    color: #fff;
    background-color: #217CAF;
  }
  
  .assistantMessage {
    background-color: #474747;
  }
  
  .codeMessage {
    padding: 10px 16px;
    background-color: #e9e9e9;
    font-family: monospace;
    counter-reset: line;
    font-size: 0.875em; /* Adjust the font size as needed */
  }
  
  .codeMessage > div {
    margin-top: 4px;
  }
  
  .codeMessage span {
    color: #b8b8b8;
    margin-right: 8px;
  }