.tab {
  padding: 0rem;
  height: 2.5rem;
  margin-top: 0px;
  margin-left: 1px;
  border: 2px solid transparent;
  border-bottom: none;
  border-color: #217baf8d;
  font-weight: 600;
  color: #ffffffaf;
  border-radius: 0.5rem 0.5rem 0 0;
}

.tab.active {
  border-color: #217CAF;
  background-color: #217CAF;
  height: 2.5rem;
  margin-top: 0px;
  border: 2px solid transparent;
  color: #fff;
  font-weight: 800;
  margin-left: 3px;
}
/*Tabs */
/* Container for the tabs */
.container {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}
/* Styling for the content area */
.content {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
/* Standard border class */
.standard-border {
    border: 4px solid #217caf;
    border-radius: 0.375rem; /* lg-rounded */
  }

.app-container {
    min-height: 350px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.resizers {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.resizer {
  position: absolute;
  background: transparent;
  pointer-events: all;
}

.right-resizer {
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  cursor: ew-resize;
}

.bottom-resizer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  cursor: ns-resize;
}

.bottom-right-resizer {
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  cursor: nwse-resize;
}

/* General styles for LeftCtrlButton */
.left-ctrl-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 0.375rem 0 0 0.375rem; /* rounded-tl-lg rounded-bl-lg */
    background: none;
    width: 40px;
    height: 40px;
    border: 2px solid #12b656;
    border-right: none; /* Ensure no border on the right */
    margin-bottom: 1px;
    overflow: hidden;
  }
  
  .left-ctrl-button-img {
    max-width: 20px;
    max-height: 20px;
    display: block;
  }
  
  /* Popup text colors */
  .popup-text {
    color: #fff; /* Default text color */
  }
  
  .popup-text-muted {
    color: #fff; /* Muted text color */
  }
  
  /* Large button styles */
  .large-button {
    width: 60px; /* Adjust the size as needed */
    height: 60px; /* Adjust the size as needed */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .large-button-img {
    max-width: 40px;
    max-height: 40px;
    object-fit: cover;
  }

  /* General styles for RightCtrlButton */
.right-ctrl-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 0 0.375rem 0.375rem 0; /* rounded-tr-lg rounded-br-lg */

    background: none;
    width: 40px;
    height: 40px;
    border: 2px solid #ECA902;
    border-left: none; /* Ensure no border on the left */
    margin-bottom: 1px;
    overflow: hidden;
  }
  
  .right-ctrl-button-img {
    max-width: 20px;
    max-height: 20px;
    display: block;
  }
  
  /* Popup text colors */
  .popup-text {
    color: #fff; /* Default text color */
  }
  
  .popup-text-muted {
    color: #fff; /* Muted text color */
  }
  
  /* Large button styles */
  .large-button {
    width: 60px; /* Adjust the size as needed */
    height: 60px; /* Adjust the size as needed */
    display: flex;
  align-items: center;
  justify-content: center;
}

.large-button-img {
  max-width: 40px;
  max-height: 40px;
  object-fit: cover;
}